{% extends 'base.html' %}

{% block content %}
<div id="content">
	<h2>ACTIVITIES</h2>
	<div>
		{% include 'user-info.html' %}
	</div>
	<div>
		<ul>
			<li><a href="{% url 'index' %}">BACK TO HOME PAGE</a></li>
		</ul>
	</div>
	{% if messages %}
		<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
		{% endfor %}
		</ul>
	{% endif %}
	<form role="form" method="post" action="{% url 'activity' %}">
		{% csrf_token %}
		{#{{ add_form.non_field_errors }}#}
		<h3>Activities</h3>
		<table>
			<tr>
				<th></th>
				<th>Year</th>
				<th>Month</th>
				{#<th>Week</th>#}
			</tr>
			<tr>
				<td>From</td>
				{{add_form.from_date}}
			</tr>
			<tr>
				<td>To</td>
				{{add_form.to_date}}
				{#{{add_form.prevtime_f}}#}
				{#{{add_form.prevtime_t}}#}
			</tr>
		</table>
		<input type="submit" name="add" value="ENTER" />
	</form>

</div>
{% endblock %}