{% extends 'base.html' %}
{% block content %}
{% load staticfiles %}

<script type="text/javascript">
<!--
$(document).ready(function(){

	function showTooltip(el){
		var json = {{ json_data|safe }};

		var el=$(el);
		el.off();
		var a = el.find('a');
		var act=a.closest('tr.item');
		var w_id=a.attr('week');
		var ty_id=a.attr('ty');
		var act_id=$(act).attr('acid');
		var d=json[act_id][w_id]['d'];
		var bs=json[act_id][w_id]['b'][ty_id];




		var container=el;
		container.css('position','relative');
		var base=$('<div>');
		base.addClass('sub');
		var content=$('<div>');
		base.css('position','absolute');
		base.css('top','-180px');
		base.css('left','-92px');
		base.css('background','rgba(0,0,0,0.8)');
		base.css('width','200px');
		base.css('padding','10px 0px 10px 0px');
		base.css('box-shadow','3px 3px 3px 0px gray');

		content.css('height','160px');
		content.css('color','#fff');
		content.css('overflow-y','auto');

		
		var pointer=$('<div>');

		pointer.css('border','5px solid transparent');
		pointer.css('border-top-color','rgba(0,0,0,0.8)');
		pointer.css('position','absolute');
		pointer.css('z-index',2);
		pointer.css('top','180px');
		pointer.css('left','100px');

		base.append(content);
		base.append(pointer);
		container.append(base);

		var p=$('<p>');
		p.css('padding','0 5px 0 5px');
		p.css('margin','0');
		var h='<span class="bold">Week: </span>'+w_id+'<br />'+'<span class="bold">Description: </span>'+d+'<br /><span class="bold">Beneficiaries: </span><br />';

		if (bs){
			for (var b in bs){
				h+=bs[b]+'<br />';
			}
		}
		else{
			h+='None';
		}
		p.html(h);
		content.html(p);



		//base.css('top',-1*(content.height()+20)+'px');
		//pointer.css('top',(content.height()+20)+'px');
		el.mouseleave(function(e){
			return deleteTooltip(this);
		})

		return false;
	}
	function deleteTooltip(el){
		var el=$(el);
		el.off();
		el.parent().find('.sub').remove();
		el.mouseenter(function(e){
			return showTooltip(this);
		});

		return false;
	}


	$(".load").mouseenter(function(e){
		return showTooltip(this);
	});


});

-->
</script>
<div id="content">
	<h2>ACTIVITIES</h2>
	<div>
		{% include 'user-info.html' %}
	</div>
	<div>
		<ul>
			<li><a href="{% url 'index' %}">BACK TO HOME PAGE</a></li>
			<li><a href="{% url 'activity' %}">BACK TO ACTIVITY PAGE</a></li>
		</ul>
	</div>
	{% if messages %}
		<ul class="messages">
		{% for message in messages %}
			<li{% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
		{% endfor %}
		</ul>
	{% endif %}

	<div>
		<h3>Activity For</h3>
		<form role="form" method="post" action="{% url 'view_activity' from_d to_d %}?page={{ contents.number }}">
		{% csrf_token %}

		<p><span class="bold">From: </span>{{renders.from_date | date:'F / Y'}}</p>
		<p><span class="bold">To: </span>{{renders.to_date | date:'F / Y'}}</p>
		<p class="mb20 sort"><span class="bold">Sort: </span>{{renders.aform.choice}}</p>
		
		{% if contents %}
		
		
		{% for c in contents %}
		<table>
			<tr>
				<th style="width:30%;">{{c.0 | date:'F / Y'}}</th>
				<th style="width:10%;">Center</th>
				<th style="width:20%;">Activity</th>
				<th style="width:20%;" colspan="4">Direct Beneficiaries</th>
				<th style="width:20%;" colspan="4">Indirect Beneficiaries</th>
			</tr>
			{% for a in c.1.acts %}
			<tr class="item" acid="{{a.id}}">
				<td></td>
				<td>{{a.center}}</td>
				<td><a href="{% url 'edit_activity' a.id %}">{{a.a}}</a></td>
				<td class="load"><a week="1" ty="1" href="#">{{a.obj.11}}</a></td>
				<td class="load"><a week="2" ty="1" href="#">{{a.obj.21}}</a></td>
				<td class="load"><a week="3" ty="1" href="#">{{a.obj.31}}</a></td>
				<td class="load"><a week="4" ty="1" href="#">{{a.obj.41}}</a></td>
				<td class="load"><a week="1" ty="2" href="#">{{a.obj.12}}</a></td>
				<td class="load"><a week="2" ty="2" href="#">{{a.obj.22}}</a></td>
				<td class="load"><a week="3" ty="2" href="#">{{a.obj.32}}</a></td>
				<td class="load"><a week="4" ty="2" href="#">{{a.obj.42}}</a></td>
			</tr>
			{% endfor %}
			<tr><td colspan="11"><a href="{% url 'add_activity' c.1.tod.0 c.1.tod.1 %}">ADD</a></td></tr>
		</table>
		{% endfor %}
		</form>
		<div class="pagenation">
			<span class="step-links">
        		{% if contents.has_previous %}
            		<a href="?page={{ contents.previous_page_number }}{% if ty %}&ty={{ty}}{% endif %}">Prev</a>
        		{% endif %}

        		{% for i in page_numbers %}
        			{% if contents.number == i  %}
        			<span class="current">{{i}}</span>
        			{% else %}
        			<a href="?page={{ i }}{% if ty %}&ty={{ty}}{% endif %}">{{i}}</a>
        			{% endif %}
        		{% endfor %}
        		{% if contents.has_next %}
            		<a href="?page={{ contents.next_page_number }}{% if ty %}&ty={{ty}}{% endif %}">Next</a>
        		{% endif %}
        		<span class="current">
            		Page {{ contents.number }} of {{ contents.paginator.num_pages }}.
        		</span>
    		</span>
		</div>
		{% else %}
		<p>No results.</p>
		{% endif %}

	</div>



</div>
{% endblock %}